@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
     font:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"Verdana, Arial, Helvetica, sans-serif;
     background-color:darkblue;
     margin: 0;
     padding: 0;
     color:crimson;
}

a:link {
     color:blue #000000;
}
a:visited {
     color: #000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
}
.homePage {
	background: #222222;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background:#AC12F3;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background:#071CE5;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #EEEEEE;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background:#10F5D7;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}